<%- include('includes/head.ejs') %> 
    
<link rel="stylesheet" href="css/404.css">
</head>

<body>
       <%- include('includes/navigation.ejs') %> 
     <div id="main">
            <div class="fof">
                   <h1>Some Error Ocurred</h1>
                   <p><%= error %></p>
            </div>
     </div>

<%- include('includes/end.ejs') %> 